img{
    width: 25%;
    float: left;
    
  }
  nav {
     margin-top: 15px;
      text-align: center;
      height: 60px;
    }
   
    nav ul {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color:  rgb(66, 106, 238);
    }
    
    nav li {
      display: inline-block;
      padding: 20px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    nav a {
      color: white;
      width: 100px;
      text-decoration: none;
     display: block;
     
    }
   nav  ul li a:hover {
      background: rgb(223, 36, 36);
      transform: scale(1.1);
      
    }
    
    header {
      background-color: #F9F8FC;
     
    }
    body{
      background-color: white;
    }
  .logo{
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  #titulo{
   
    text-align: center;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(223, 36, 36);
  }
  #titulo2{
    margin: 50px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline;
    
  }
  #titulo3{
    margin: 50px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline;
  }
  #titulo4{
    margin: 50px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  
  th{
    padding: 8px;
    color:white;
    background-color:rgb(223, 36, 36) ;
    border-bottom: 1px solid #ddd;
  }
  td{
    
    padding: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(66, 106, 238) ;
    color: white;
    border-bottom: 1px solid #ddd;
  }
  
  tr :hover {
    background-color:rgb(231, 41, 41);
  }
 
