img{
    width: 25%;
    float: left;
    
  }
  nav {
     margin-top: 15px;
      text-align: center;
      height: 60px;
    }
   
    nav ul {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
      background-color:  rgb(66, 106, 238);
    }
    
    nav li {
      display: inline-block;
      padding: 20px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    nav a {
      color: white;
      width: 100px;
      text-decoration: none;
     display: block;
     
    }
   nav  ul li a:hover {
      background: rgb(223, 36, 36);
      transform: scale(1.1);
      
    }
    
    header {
      background-color: #F9F8FC;
     
    }
    body{
      background-color: white;
    }
  .logo{
    justify-content: center;
    align-items: center;
    display: flex;
  
  }
  #titulo{
    text-align: center;
   
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline rgb(66, 106, 238);
  }
  #titulo2{
    margin: 50px;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline rgb(66, 106, 238);
  }
  #titulo3{
    margin: 50px;
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline rgb(66, 106, 238);
  }
  #titulo4{
    margin: 50px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline rgb(66, 106, 238);
  }
  .tablaJabon{
    width: 100%;
    border-collapse: collapse;
  }
  .tablaJabon th{
    color:white;
    background-color:rgb(223, 36, 36) ;
  }
  .tablaJabon tr td{
    text-align: center;
    border:2px solid  rgb(66, 106, 238) ;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(66, 106, 238) ;
    color: white;
  }
  .tablaSuavizante{
    width: 100%;
    border-collapse: collapse;
  }
  .tablaSuavizante th{
    color:white;
    background-color:rgb(223, 36, 36) ;
  }
  .tablaSuavizante tr td{
    text-align: center;
    border:2px solid  rgb(66, 106, 238) ;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(66, 106, 238) ;
    color: white;
  }
  .tablaCloro{
    width: 100%;
    border-collapse: collapse;
  }
  .tablaCloro th{
    color:white;
    background-color:rgb(223, 36, 36) ;
  }
  .tablaCloro tr td{
    text-align: center;
    border:2px solid  rgb(66, 106, 238) ;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(66, 106, 238) ;
    color: white;
  }
  .tablaVeneno{
    width: 100%;
    border-collapse: collapse;
  }
  .tablaVeneno th{
    color:white;
    background-color:rgb(223, 36, 36) ;
  }
  .tablaVeneno tr td{
    text-align: center;
    border:2px solid  rgb(66, 106, 238) ;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(66, 106, 238) ;
    color: white;
  }
